@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
    ViewData["Title"] = Model == null ? "Thêm thương hiệu" : "Sửa thương hiệu";
}
@model BanMyPham.Models.ThuongHieu

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                    
                    <form method="post" asp-area="Admin" asp-controller="ThuongHieu" asp-action="@(Model == null ? "Create" : "Edit")">
                        <div class="mb-3">
                            <label asp-for="MaThuongHieu" class="form-label">Mã thương hiệu</label>
                            <input value="@Model?.MaThuongHieu" name="MaThuongHieu" asp-for="MaThuongHieu" class="form-control"  required />

                            <span asp-validation-for="MaThuongHieu" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="TenThuongHieu" class="form-label">Tên thương hiệu</label>
                            <input value="@Model?.TenThuongHieu" name="TenThuongHieu" asp-for="TenThuongHieu" class="form-control" required />
                            <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href=" @Url.Action("Index","ThuongHieuManagement")" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Quay lại
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
