/* _content/BanMyPham/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gnnuejbhoo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gnnuejbhoo] {
  color: #0077cc;
}

.btn-primary[b-gnnuejbhoo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gnnuejbhoo], .nav-pills .show > .nav-link[b-gnnuejbhoo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gnnuejbhoo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gnnuejbhoo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gnnuejbhoo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gnnuejbhoo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gnnuejbhoo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BanMyPham/Views/Shared/_layoutAdmin.cshtml.rz.scp.css */

body[b-lt42zp1qbm] {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Sidebar styles */
.sidebar[b-lt42zp1qbm] {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
  
    height: 100%;
    background-color: white;
    padding-top: 20px;
    transition: all 0.3s;
}

    .sidebar.closed[b-lt42zp1qbm] {
        width: 60px;
    }

    .sidebar h3[b-lt42zp1qbm] {
        color: #fff;
        text-align: center;
    }

.nav-item .nav-link-convert[b-lt42zp1qbm]{
    font-size: 23px;
    color: #fff;
    display: flex;
    padding-left: 40px !important;
    align-items: center;
}

.sidebar .nav-link-convert i[b-lt42zp1qbm] {
    margin-right: 10px;
}

.sidebar.closed .nav-link-convert span[b-lt42zp1qbm] {
    display: none;
}

.sidebar .nav-item .nav-link-convert:hover[b-lt42zp1qbm] {
    background-color: blue;
}

/* Main content area */
.main-content[b-lt42zp1qbm] {
    margin-left: 230px;
    padding: 20px;
    background-color: #F3F4F6;
    transition: margin-left 0.3s;
    min-height: 100%
}

    .main-content.expanded[b-lt42zp1qbm] {
        margin-left: 60px;
    }

/* Header styles */
.header[b-lt42zp1qbm] {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.toggle-btn[b-lt42zp1qbm] {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 10px;
}
