
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
  
    height: 100%;
    background-color: white;
    padding-top: 20px;
    transition: all 0.3s;
}

    .sidebar.closed {
        width: 60px;
    }

    .sidebar h3 {
        color: #fff;
        text-align: center;
    }

.nav-item .nav-link-convert{
    font-size: 23px;
    color: #fff;
    display: flex;
    padding-left: 40px !important;
    align-items: center;
}

.sidebar .nav-link-convert i {
    margin-right: 10px;
}

.sidebar.closed .nav-link-convert span {
    display: none;
}

.sidebar .nav-item .nav-link-convert:hover {
    background-color: blue;
}

/* Main content area */
.main-content {
    margin-left: 230px;
    padding: 20px;
    background-color: #F3F4F6;
    transition: margin-left 0.3s;
    min-height: 100%
}

    .main-content.expanded {
        margin-left: 60px;
    }

/* Header styles */
.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.toggle-btn {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 10px;
}
